*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;

}



  
  @keyframes left-right-movement {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: 89%;
    }
  }
  

  @keyframes up-down-movement {
    from {
      margin-top: 0%;

    }
    to {
      margin-top: 41%;

    }
  }
  
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
  .main-img{
    animation-name: left-right-movement, up-down-movement,example;
    width: 10%;
    animation-duration: 6s, 2.3s,10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }